.home-banner {
  width: 100%;
  height: 100vh;
  background-image: url(`${import.meta.env.VITE_URL_SUPABASE}/storage/v1/object/public/resources/home-banner.jpg`);
  background-size: cover;
}

.home-gd-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgb(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.2),
    transparent
  );
}

.home-title {
  position: absolute;
  top: 9%;
  left: 0;
}

.home-logo {
  width: 38%;
}

.home-slide-down {
  display: none;
}

.week-picks-banner {
  color: var(--creamyWhite);
  background-color: var(--mainBrown);
}

.home-section-logo {
  max-width: 5rem;
}

.custom-image {
  max-width: 5rem;
  height: auto;
}

.home-separator {
  margin-top: 8rem !important;
  margin-bottom: 8rem !important;
}

#homeAboutSection {
  margin: 5rem 0;
  flex-wrap: wrap;
}

.home-text-container {
  background-color: white;
  max-width: 600px;
  width: 100%;
  height: auto;
  padding: 2rem 3rem;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.img-home {
  width: 100%;
  max-width: 800px;
  max-height: 700px;
  height: auto;
  object-fit: cover !important;
}

.home-value {
  color: var(--mainBrown);
  transition: 0.3s ease-in;
  opacity: 85%;
}

.home-value:hover {
  transform: scale(1.1);
  opacity: 100%;
}

@media (max-width: 576px) {
  .home-banner {
    width: 100vw;
    height: 100vh;
    background-image: url("/imgs/home-banner-mobile.jpg");
    background-size: cover;
  }

  .home-title {
    position: absolute;
    top: 19%;
    left: 0;
  }

  .home-logo {
    width: 80%;
  }

  .home-slide-down {
    display: block;
    color: var(--mainBrown);
    animation: bounce 2s ease infinite;
    text-shadow: rgba(0, 0, 0, 0.241) 0px 7px 0.5rem;
  }
}

@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}
