.confirmation-container {
  width: 100%;
  height: 100vh;
  background-image: url(`${import.meta.env.VITE_URL_SUPABASE}/storage/v1/object/public/resources/confirmation-banner.avif`);
  background-size: cover;
  display: flex;
  align-items: center;
}

.confirmation-logo {
  width: 10rem;
  opacity: 90%;
}