.nav-toggle {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  color: white;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
